<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=400, initial-scale=0">
  <title>IMG Share</title>

  {{!-- Bootstrap 4 --}}
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/styles.css">


</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="/public/img/logo.png" alt="Logo">
      </a>
    </div>
  </nav>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-8">
        {{{ body }}}
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c729b7eb0d.js" crossorigin="anonymous"></script>
</body>

</html>